.button {
  width: 160px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background-color: #03396c;
  color: white;
}

.button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(1, 26, 85, 0.5);
}
