.navigation-container {
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  /* background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px); */
}

.menuContainer {
  display: none;
}

.left-section {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 87px;
}

.logoName{
  font-weight: bolder;
  cursor: pointer;
}

.logo-container {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-section {
  height: 100%;
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
}

.link-container {
  width: 600px;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  display: grid;
  place-items: center;
  transition: transform 0.3s ease 0s;

  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #17a2b8;
  transition: width 0.3s ease, left 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.link:hover::after {
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
  .left-section {
    display: none;
  }
  .right-section {
    display: none;
  }

  .menuContainer {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .menuContainer i {
    font-size: 3rem;
    color: rgb(255, 255, 255);
  }

}

@media (max-width: 480px) { 
  .navigation-container {
    height: 50px;
  }

  .menuContainer {
    right: 20px;
    top: 10px;
  }

  .menuContainer i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
}
