* {
  margin: 0;
  font-family: "Poppins, serif;";
  font-weight: 400;
  font-style: normal;
  /* outline: 1px solid white; */
}

body{
  background-color: #37474f;
  color: white;
}

.container{
  width: 85%;
  height: 100;
  display: flex
}
